In [3]:
import pandas as pd

In [4]:
df=pd.read_excel("C:\\Users\\4HIN\\Downloads\\DS Internship - EDA - Data.xlsx")
df

,Store,Year,Month,Super Division,Sales,SGM,Store Open,Store Close,Outlet Type,State,Climate,Total Sq Ft,Store Modification Date,Store Modification
0,1,2015,2,GIRLS,63635.80,35692.09,1991-03-01,No Close date,Outlet,A1,Frigid,4735.0,2011-10-06 00:00:00,relocation
1,1,2015,2,BOYS,20872.93,15691.34,1991-03-01,No Close date,Outlet,A1,Frigid,4735.0,2011-10-06 00:00:00,relocation
2,1,2015,2,ACCESSORIES,38717.03,23866.25,1991-03-01,No Close date,Outlet,A1,Frigid,4735.0,2011-10-06 00:00:00,relocation
3,1,2015,2,KIDS,11455.00,12110.00,1991-03-01,No Close date,Outlet,A1,Frigid,4735.0,2011-10-06 00:00:00,relocation
4,1,2015,3,GIRLS,67507.77,42237.79,1991-03-01,No Close date,Outlet,A1,Frigid,4735.0,2011-10-06 00:00:00,relocation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181232,830,2017,6,BOYS,44711.93,10797.28,2005-11-10,2017-06-26 00:00:00,Strip,B9,Hot,5730.5,2014-02-06 00:00:00,relocation
181233,830,2017,6,ACCESSORIES,33539.67,15998.07,2005-11-10,2017-06-26 00:00:00,Strip,B9,Hot,5730.5,2014-02-06 00:00:00,relocation
181234,830,2017,6,KIDS,11648.04,12042.24,2005-11-10,2017-06-26 00:00:00,Strip,B9,Hot,5730.5,2014-02-06 00:00:00,relocation
181235,830,2017,7,BOYS,11455.42,12107.08,2005-11-10,2017-06-26 00:00:00,Strip,B9,Hot,5730.5,2014-02-06 00:00:00,relocation
181236,830,2017,7,ACCESSORIES,11456.70,12106.46,2005-11-10,2017-06-26 00:00:00,Strip,B9,Hot,5730.5,2014-02-06 00:00:00,relocation

In [ ]:
#1.Initial Exploration: 
#a.Find total sales by year.

In [14]:
total_sales_by_year=df.groupby('Year')['Sales'].sum()
total_sales_by_year

Year
2015    1.627585e+09
2016    1.843939e+09
2017    1.651322e+09
2018    1.492340e+09
2019    1.471963e+09
2020    6.510899e+07
Name: Sales, dtype: float64

In [ ]:
#b.Number of stores opened in the year 1991.

In [6]:
df['Store Open'] = pd.to_datetime(df['Store Open'], errors='coerce')
store_opened_1991=df[df['Store Open'].dt.year==1991]['Store'].nunique()
store_opened_1991

4

In [ ]:
#c.Number of stores remodeled (consider all types of remodeling)

In [9]:
stores_remodeled = df[~df['Store Modification'].isna()]['Store'].nunique()
stores_remodeled

830

In [ ]:
#Find the direct relationship (if any) between Sales and total sq. ft.

In [10]:
sales_sqft=df[['Sales','Total Sq Ft']].corr().iloc[0,1]
sales_sqft

0.1392254401944675

In [ ]:
#Most profitable Super Division (profitability can be based on total sales by super division)

In [12]:
profitable=df.groupby('Super Division')['Sales'].sum().idxmax()
profitable

'GIRLS'

In [ ]:
#Number of active stores as of today (i.e., no closing date)

In [13]:
act_stores=df[df['Store Close']=='No Close date']['Store'].nunique()
act_stores

678

In [ ]:
#Super Division with more sq. ft on average

In [14]:
super_div_avg_sqft = df.groupby('Super Division')['Total Sq Ft'].mean().idxmax()
super_div_avg_sqft

'KIDS'

In [ ]:
#2.Advanced Insights: 
#a.What are the top 3 potential candidate states to consider for opening a new store?

In [16]:
state_perf = df.groupby('State')['Sales'].mean().sort_values(ascending=False).head(3)
state_perf

State
E4    58183.380314
B6    50044.942593
B5    49776.118243
Name: Sales, dtype: float64

In [ ]:
# b.Best time of the year to consider opening a store (based on sales by month)

In [18]:
best_month_to_open = df.groupby('Month')['Sales'].mean().idxmax()
best_month_to_open

12

In [ ]:
# c.Outlet type effects on store closure

In [21]:
closed_stores = df[df['Store Close'] != 'No Close date'].groupby('Outlet Type')['Store'].nunique()
active_stores = df[df['Store Close'] == 'No Close date'].groupby('Outlet Type')['Store'].nunique()

total_stores = closed_stores.add(active_stores, fill_value=0)

closure_rate = (closed_stores / total_stores).sort_values(ascending=False)
closure_rate

Outlet Type
Outlet    0.336364
Strip     0.234421
Mall      0.093995
Name: Store, dtype: float64